# OSX Stuff
.DS_Store*
._*
.Trashes

# R stuff
.Rhistory

# Ignore snakemake files
.snakemake
.snakemake_timestamp

# Ignore singularity images
*.simg
*.img
*.sif

# Ignore data/ dirs
workflows/read_filtering/data
workflows/taxonomic_classification/data

# Don't blacklist workflows/data recursively
# Ignore everything under workflows/data
workflows/data/*


# no big files
.sbt*
*.pdf
*.json
*.tar.gz
*.tgz

# python
__pycache__
.Rproj.user
